.form-area4 {
  background-color: white;
  width: fit-content;
  margin-top: 80px;
  margin-bottom: 85px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.Stittle {
  font-size: 12px;
}